@(email: String, pics:List[Integer],categories:List[Integer],places:List[Integer],helpForm: Form[Category])

@main("User") {
	<head>
	<style>
		.cell {width:100px;height:100px;}
	</style>
	<script>

	function postImages(){
		document.getElementById("subm").style.visibility="hidden";
		document.getElementById("hiddenDIV").style.visibility="hidden";
		document.getElementById("img"+@places.get(0)).src="@routes.Assets.at(Picture.find.byId(pics.get(0)).image_link)";
		document.getElementById("img"+@places.get(1)).src="@routes.Assets.at(Picture.find.byId(pics.get(1)).image_link)";
		document.getElementById("img"+@places.get(2)).src="@routes.Assets.at(Picture.find.byId(pics.get(2)).image_link)";
		document.getElementById("img"+@places.get(3)).src="@routes.Assets.at(Picture.find.byId(pics.get(3)).image_link)";
		document.getElementById("img"+@places.get(4)).src="@routes.Assets.at(Picture.find.byId(pics.get(4)).image_link)";
		document.getElementById("img"+@places.get(5)).src="@routes.Assets.at(Picture.find.byId(pics.get(5)).image_link)";
	}

	function allowDrop(ev)
	{
	ev.preventDefault();
	}

	function drag(ev)
	{
	ev.dataTransfer.setData("Text",ev.target.id);
	}
	var countSwitch = 0;
	function drop(ev)
	{
	var me = document.getElementById(ev.target.id);
	ev.preventDefault();
	var data=ev.dataTransfer.getData("Text");
	var pic = document.getElementById(data);
	document.getElementById("origin").innerHTML += data +",";
	document.getElementById("target").innerHTML += ev.target.id+",";
	countSwitch++;
	var temp = pic.src;
	pic.src = me.src;
	me.src = temp;
	me.src = "@routes.Assets.at("images/white.png")";
	if(countSwitch >= 6  ){
		document.getElementById("subm").style.visibility="visible";
		document.getElementById("table1").style.visibility="hidden";
	}
	}
	</script>
	</head>
	<body onload="javascript:postImages()">
	<div id="hiddenDIV">
		@helper.form(action = routes.Application.validateLogin(email,pics,categories,places)) {
		@helper.input(helpForm("origin"), '_label -> "", '_id -> "origin") { (id, name, value, args) =>
	        <input type="hidden" name="@name" id="@id" @toHtmlArgs(args)>
	    }
	    @helper.input(helpForm("target"), '_label -> "", '_id -> "target") { (id, name, value, args) =>
	        <input type="hidden" name="@name" id="@id" @toHtmlArgs(args)>
	    }
	</div>
	<span id="testy"></span>
	<table border="1" id="table1">
	<tr>
		<td class="cell" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img id="img1" src="@routes.Assets.at("images/white.png")" alt="" draggable="true" ondragstart="drag(event)" width="99" height="99">
		</td>
		<td class="cell" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img id="img2" src="@routes.Assets.at("images/white.png")" alt="" draggable="true" ondragstart="drag(event)" width="99" height="99">
		</td>
		<td class="cell" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img id="img3" src="@routes.Assets.at("images/white.png")" alt="" draggable="true" ondragstart="drag(event)" width="99" height="99">
		</td>
		<td class="cell" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img id="img4" src="@routes.Assets.at("images/white.png")" alt="" draggable="true" ondragstart="drag(event)" width="99" height="99">
		</td>
	</tr>

	<tr>
		<td class="cell" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img id="img5" src="@routes.Assets.at("images/white.png")" alt="" draggable="true" ondragstart="drag(event)" width="99" height="99">
		</td>
		<td class="cell" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img id="img6" src="@routes.Assets.at("images/white.png")" alt="" draggable="true" ondragstart="drag(event)" width="99" height="99">
		</td>
		<td class="cell" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img id="img7" src="@routes.Assets.at("images/white.png")" alt="" draggable="true" ondragstart="drag(event)" width="99" height="99">
		</td>
		<td class="cell" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img id="img8" src="@routes.Assets.at("images/white.png")" alt="" draggable="true" ondragstart="drag(event)" width="99" height="99">
		</td>
	</tr>

	<tr>
		<td class="cell" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img id="img9" src="@routes.Assets.at("images/white.png")" alt="" draggable="true" ondragstart="drag(event)" width="99" height="99">
		</td>
		<td class="cell" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img id="img10" src="@routes.Assets.at("images/white.png")" alt="" draggable="true" ondragstart="drag(event)" width="99" height="99">
		</td>
		<td class="cell" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img id="img11" src="@routes.Assets.at("images/white.png")" alt="" draggable="true" ondragstart="drag(event)" width="99" height="99">
		</td>
		<td class="cell" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img id="img12" src="@routes.Assets.at("images/white.png")" alt="" draggable="true" ondragstart="drag(event)" width="99" height="99">
		</td>

	</tr>
		<tr>
		<td class="cell" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img id="img13" src="@routes.Assets.at("images/white.png")" alt="" draggable="true" ondragstart="drag(event)" width="99" height="99">
		</td>
		<td class="cell" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img id="img14" src="@routes.Assets.at("images/white.png")" alt="" draggable="true" ondragstart="drag(event)" width="99" height="99">
		</td>
		<td class="cell" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img id="img15" src="@routes.Assets.at("images/white.png")" alt="" draggable="true" ondragstart="drag(event)" width="99" height="99">
		</td>
		<td class="cell" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img id="img16" src="@routes.Assets.at("images/white.png")" alt="" draggable="true" ondragstart="drag(event)" width="99" height="99">
		</td>
	</tr>

	</tr>
	</table>
	 <button type="submit" id="subm" class="btn btn-primary">Submit</button>
	}
	</body>
}