@(categories: List[Category],userForm:Form[User])
@import helper._
@import helper.twitterBootstrap._
@main("Signup"){

<head>
    
    <title>Sign up | Sign up page</title>
    
</head>

<body>
<fieldset>
    @helper.form(routes.Application.signUp()){
    <div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please enter your details below</h2>
        @inputText(
            userForm("name"),
            '_label -> "Full name"
        )
         @inputPassword(
                userForm("password"), 
                '_label -> "Password",
                '_help -> "A password must be at least 6 characters. "
            )
            
            @inputText(
                userForm("email"), '_label -> "Email",
                '_help -> "Enter a valid email address."
            )
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <div class="text-center">  
            <button class="btn btn-primary btn-block" type="submit">Sign up</button> <br> 
        </div>
        
      </form>

    </div>
   </body>
    

    }

}
